<h1>ツイート一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td><%= task.content %></td>
    <td><%= link_to '詳細を確認する', task_path(task.id) %></td>
  </tr>
<% end %>
</table>
<%= link_to 'ツイートする', new_task_path %>