<head>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <title>task</title>
</head>

<body class="topbody">
  <div id="wrapper">
    <p class="catchtext" >Hi! Lets enjoy talk.</p>
    <br>
    <font size="30" >Rails Series Kadai</font>
    <br>
    <%= link_to 'ENTER', tasks_path %>

    <footer class="topfooter">
      <p>Powered by kurumi Watanabe</p>
    </footer>

  </div>
</body>